
@media only screen and (min-width: 900px) {
    .header{
	width:100%;
	background:#ffffff;
	float:left;
	}
	nav{
		width:93%;
		margin:0 auto;
	}
	.logo{
		font-weight: 500;
	    color: #000;
	    font-size: 28px;
	    line-height: 50px;
	    float:left;
	    height: 50px;
	}
	.header-ul li a{
		padding: 10px 12px;
	    padding-top: 15px;
	    padding-bottom: 15px;
	    color: #687074;
	    font-size: 13px;
	    font-weight: 400;
	    text-transform: uppercase;
	    font-family: "Lato", sans-serif;
	    float:right;
	}
	.banner{
		width:100%;
		float:left;
		position: relative;
		background:url("../img/chicago_large.png");
	}
	.banner-ba img{
		width:100%;
		position: absolute;
		height:100%;
		z-index:-1;
	}
	.banner-ba{
		overflow:hidden;
	}
	.banner-m{
		width:93%;
	}
	.banner-m h3{
		line-height: 42px;
	    letter-spacing: 1px;
	    color: #fff;
	    font-size: 25px;
	    text-align:center;
	    margin-top:85px;
	    margin-bottom:25px;
	}
	.border-top{
		border-top:1px solid #fff;
		height:1px;
		margin:0 auto;
		width:70px;
		margin-bottom:25px;
	}
	.banner-m p{
		line-height: 42px;
	    letter-spacing: 1px;
	    color: #fff;
	    font-size: 20px;
	    text-align:center;
	    display:block;
	    margin:0 auto;
	    margin-bottom:80px;
	    width:694px;
	}
	.banner-m button{
	    padding: 12px 50px 12px 50px;
	    font-size: 13px;
	    font-weight: 600;
	    margin:0 auto;
	    display:block;
	    color: #333;
    	background-color: #fff;
    	border-radius:3px;
    	outline:none;
    	border:0px;
    	margin-bottom:196px;
	}
	.data{
		width:100%;
		background:#32c5d2;
		float:left;
		margin-bottom:50px;
	}
	.data-m{
		width:90%;
		margin:0 auto;
	}
	.data-m-left{
		width:50%;
		float:left;
	}
	.data-m-left h3{
		font-size: 50px;
    	font-weight: 400;
    	color: #fff;
    	text-align:center;
    	margin-top:15px;
	}
	.data-m-left a{
		font-size: 50px;
    	font-weight: 400;
    	color: #fff;
    	display:block;
    	text-align:center;
    	margin-top:15px;
    	font-size: 1.4em;
    	line-height: 27px;
    	margin: 0px 0px 14px;
	}
	.find{
		width:100%;
		float:left;
		margin-bottom:30px;

	}
	.find-m{
		width:90%;
		margin:10px auto;
	}
	.find_left{
		width:47%;
		float:left;
		overflow:hidden;
	}
	.find_left img{
		width:100%;
		height:100%;
	}
	.find_right{
		width:50%;
		float:right;

	}
	.find_right h2{
		font-family: "Lato", sans-serif;
    	font-weight: 400;
    	font-size: 35px;
    	color: #060606;
    	line-height: 42px;
    	margin-bottom:50px;
	}
	.find-border-top{
		width:70px;
		height:1px;
		border-top:1px solid #bbbbbb;
		margin-bottom:13px;
	}
	.find_right p{
		font-style: normal;
    	font-size: 16px;
    	line-height: 29px;
    	font-weight: 500;
    	color: #555555;
    	margin-bottom:26px;
	}
	.find_right button{
		border:0;
		border-radius:3px;
    	color: #fff;
    	background-color: #32c5d2;
    	padding: 12px 50px 12px 50px;
    	font-size: 13px;
    	font-weight: 600;
	}
	.find-cha{
		width:100%;
		float:left;
		background:#f5f5f5;
		padding-top:50px;
		padding-bottom:50px;
	}
	.find_cha_right{
		width:47%;
		float:right;
		overflow:hidden;
	}
	.find_cha_right img{
		width:100%;
		height:100%;
	}
	.find_cha_left{
		width:50%;
		float:left;
	}
	.find_cha_left h2{
		font-family: "Lato", sans-serif;
    	font-weight: 400;
    	font-size: 35px;
    	color: #060606;
    	line-height: 42px;
    	margin-bottom:50px;
	}
	.find_cha_left p{
		font-style: normal;
    	font-size: 16px;
    	line-height: 29px;
    	font-weight: 500;
    	color: #555555;
    	margin-bottom:26px;
	}
	.find_cha_left button{
		border:0;
		border-radius:3px;
    	color: #fff;
    	background-color: #32c5d2;
    	padding: 12px 50px 12px 50px;
    	font-size: 13px;
    	font-weight: 600;
	}
	.find-border-top{
		width:70px;
		height:1px;
		border-top:1px solid #bbbbbb;
		margin-bottom:13px;
	}
	.footer{
		width:100%;
		float:left;
	}
	.footer_m{
		width:90%;
		margin:0 auto;
	}
	.footer_m h4{
		font-weight: 700;
		font-family: "Lato", sans-serif;
		letter-spacing: 1px;
	    color: #333;
	    font-size: 25px;
	    text-align:center;
	    line-height:80px;
	}
	.border-top1{
		border-top:1px solid #bbbbbb;
		height:1px;
		margin:0 auto;
		width:80px;
		margin-bottom:25px;
	}
	.footer_m img{
		width:20%;
		margin-right:8%;
		margin-bottom:80px;
	}
	.footer_m .zui_img{
		margin-right:-8%;
	}
	.footer_buttom{
		width:100%;	
		background:#f5f5f5;
		float:left;
	}
	.footer_buttom_m{
		width:90%;
		margin:0 auto;
	}
	.footer_buttom_m_left{
		width:70%;
		float:left;
	}
	.footer_buttom_m_left h6{
		color: #333;
		font-size: 20px;
    	font-weight: 700;
		margin-top:39px;
		margin-bottom:15px;
	}
	.footer_buttom_m_left p{
		font-size: 16px;
    	font-weight: 400;
    	color: #999;
    	margin-bottom:50px;
	}
	.footer_buttom_m_right{
		width:30%;
		float:right;
	}
	.footer_buttom_m_right button{
		margin-top: 15px;
		border: 1px solid #32c5d2;
    	color: #32c5d2;
    	padding: 12px 50px 12px 50px;
    	font-size: 13px;
    	font-weight: 600;
    	border-radius: 2px;
    	background:#f5f5f5;
    	margin-top:50px;
    	text-transform: uppercase;
	}
	.xia{
		width:100%;
		background:#000;
	}
	.xia p{
		font-size:13px;
		text-align:center;
		color:#fff;
	}
	.help{
		position: fixed;
		bottom:0;
		right:2%;
		width:356px;
		height:45px;
		border:0px;
		border-radius:10px 10px 0px 0px;
		background:#65758e;
		color:#fff;
		font-size:15px;
	}
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
	 .header{
	width:100%;
	background:#ffffff;
	float:left;
	}
	nav{
		width:93%;
		margin:0 auto;
	}
	.logo{
		font-weight: 500;
	    color: #000;
	    font-size: 28px;
	    line-height: 50px;
	    float:left;
	    height: 50px;
	}
	.header-ul li a{
		padding: 10px 12px;
	    padding-top: 15px;
	    padding-bottom: 15px;
	    color: #687074;
	    font-size: 13px;
	    font-weight: 400;
	    text-transform: uppercase;
	    font-family: "Lato", sans-serif;
	    float:right;
	}
	.banner{
		width:100%;
		float:left;
		position: relative;
	}
	.banner-ba img{
		width:100%;
		position: absolute;
		height:100%;
		z-index:-1;
	}
	.banner-ba{
		overflow:hidden;
	}
	.banner-m{
		width:93%;
	}
	.banner-m h3{
		line-height: 42px;
	    letter-spacing: 1px;
	    color: #fff;
	    font-size: 25px;
	    text-align:center;
	    margin-top:85px;
	    margin-bottom:25px;
	}
	.border-top{
		border-top:1px solid #fff;
		height:1px;
		margin:0 auto;
		width:70px;
		margin-bottom:25px;
	}
	.banner-m p{
		line-height: 42px;
	    letter-spacing: 1px;
	    color: #fff;
	    font-size: 20px;
	    text-align:center;
	    display:block;
	    margin:0 auto;
	    margin-bottom:80px;
	    width:694px;
	}
	.banner-m button{
	    padding: 12px 50px 12px 50px;
	    font-size: 13px;
	    font-weight: 600;
	    margin:0 auto;
	    display:block;
	    color: #333;
    	background-color: #fff;
    	border-radius:3px;
    	outline:none;
    	border:0px;
    	margin-bottom:196px;
	}
	.data{
		width:100%;
		background:#32c5d2;
		float:left;
		margin-bottom:50px;
	}
	.data-m{
		width:90%;
		margin:0 auto;
	}
	.data-m-left{
		width:100%;
		float:left;
	}
	.data-m-left h3{
		font-size: 50px;
    	font-weight: 400;
    	color: #fff;
    	text-align:center;
    	margin-top:15px;
	}
	.data-m-left a{
		font-size: 50px;
    	font-weight: 400;
    	color: #fff;
    	display:block;
    	text-align:center;
    	margin-top:15px;
    	font-size: 1.4em;
    	line-height: 27px;
    	margin: 0px 0px 14px;
	}
	.find{
		width:100%;
		float:left;
		margin-bottom:30px;

	}
	.find-m{
		width:90%;
		margin:10px auto;
	}
	.find_left{
		width:47%;
		float:left;
		overflow:hidden;
	}
	.find_left img{
		width:100%;
		height:100%;
	}
	.find_right{
		width:50%;
		float:right;

	}
	.find_right h2{
		font-family: "Lato", sans-serif;
    	font-weight: 400;
    	font-size: 35px;
    	color: #060606;
    	line-height: 42px;
    	margin-bottom:50px;
	}
	.find-border-top{
		width:70px;
		height:1px;
		border-top:1px solid #bbbbbb;
		margin-bottom:13px;
	}
	.find_right p{
		font-style: normal;
    	font-size: 16px;
    	line-height: 29px;
    	font-weight: 500;
    	color: #555555;
    	margin-bottom:26px;
	}
	.find_right button{
		border:0;
		border-radius:3px;
    	color: #fff;
    	background-color: #32c5d2;
    	padding: 12px 50px 12px 50px;
    	font-size: 13px;
    	font-weight: 600;
	}
	.find-cha{
		width:100%;
		float:left;
		background:#f5f5f5;
		padding-top:50px;
		padding-bottom:50px;
	}
	.find_cha_right{
		width:47%;
		float:right;
		overflow:hidden;
	}
	.find_cha_right img{
		width:100%;
		height:100%;
	}
	.find_cha_left{
		width:50%;
		float:left;
	}
	.find_cha_left h2{
		font-family: "Lato", sans-serif;
    	font-weight: 400;
    	font-size: 35px;
    	color: #060606;
    	line-height: 42px;
    	margin-bottom:50px;
	}
	.find_cha_left p{
		font-style: normal;
    	font-size: 16px;
    	line-height: 29px;
    	font-weight: 500;
    	color: #555555;
    	margin-bottom:26px;
	}
	.find_cha_left button{
		border:0;
		border-radius:3px;
    	color: #fff;
    	background-color: #32c5d2;
    	padding: 12px 50px 12px 50px;
    	font-size: 13px;
    	font-weight: 600;
	}
	.find-border-top{
		width:70px;
		height:1px;
		border-top:1px solid #bbbbbb;
		margin-bottom:13px;
	}
	.footer{
		width:100%;
		float:left;
	}
	.footer_m{
		width:90%;
		margin:0 auto;
	}
	.footer_m h4{
		font-weight: 700;
		font-family: "Lato", sans-serif;
		letter-spacing: 1px;
	    color: #333;
	    font-size: 25px;
	    text-align:center;
	    line-height:80px;
	}
	.border-top1{
		border-top:1px solid #bbbbbb;
		height:1px;
		margin:0 auto;
		width:80px;
		margin-bottom:25px;
	}
	.footer_m img{
		width:20%;
		margin-right:8%;
		margin-bottom:80px;
	}
	.footer_m .zui_img{
		margin-right:-8%;
	}
	.footer_buttom{
		width:100%;	
		background:#f5f5f5;
		float:left;
	}
	.footer_buttom_m{
		width:90%;
		margin:0 auto;
	}
	.footer_buttom_m_left{
		width:70%;
		float:left;
	}
	.footer_buttom_m_left h6{
		color: #333;
		font-size: 20px;
    	font-weight: 700;
		margin-top:39px;
		margin-bottom:15px;
	}
	.footer_buttom_m_left p{
		font-size: 16px;
    	font-weight: 400;
    	color: #999;
    	margin-bottom:50px;
	}
	.footer_buttom_m_right{
		width:30%;
		float:right;
	}
	.footer_buttom_m_right button{
		margin-top: 15px;
		border: 1px solid #32c5d2;
    	color: #32c5d2;
    	padding: 12px 50px 12px 50px;
    	font-size: 13px;
    	font-weight: 600;
    	border-radius: 2px;
    	background:#f5f5f5;
    	margin-top:50px;
    	text-transform: uppercase;
	}
	.xia{
		width:100%;
		background:#000;
	}
	.xia p{
		font-size:13px;
		text-align:center;
		color:#fff;
	}
	.help{
		position: fixed;
		bottom:0;
		right:2%;
		width:356px;
		height:45px;
		border:0px;
		border-radius:10px 10px 0px 0px;
		background:#65758e;
		color:#fff;
		font-size:15px;
	}
}
@media only screen and (max-width: 600px) {
	 .header{
	width:100%;
	background:#ffffff;
	float:left;
	}
	nav{
		width:93%;
		margin:0 auto;
	}
	.logo{
		font-weight: 500;
	    color: #000;
	    font-size: 28px;
	    line-height: 50px;
	    float:left;
	    height: 50px;
	}
	.header-ul li a{
		padding: 10px 12px;
	    padding-top: 15px;
	    padding-bottom: 15px;
	    color: #687074;
	    font-size: 13px;
	    font-weight: 400;
	    text-transform: uppercase;
	    font-family: "Lato", sans-serif;
	    float:right;
	}
	.banner{
		width:100%;
		float:left;
		position: relative;
	}
	.banner-ba img{
		width:100%;
		position: absolute;
		height:100%;
		z-index:-1;
	}
	.banner-ba{
		overflow:hidden;
	}
	.banner-m{
		width:93%;
	}
	.banner-m h3{
		line-height: 42px;
	    letter-spacing: 1px;
	    color: #fff;
	    font-size: 25px;
	    text-align:center;
	    margin-top:85px;
	    margin-bottom:25px;
	}
	.border-top{
		border-top:1px solid #fff;
		height:1px;
		margin:0 auto;
		width:70px;
		margin-bottom:25px;
	}
	.banner-m p{
		line-height: 42px;
	    letter-spacing: 1px;
	    color: #fff;
	    font-size: 20px;
	    text-align:center;
	    display:block;
	    margin:0 auto;
	    margin-bottom:80px;
	    width:100%;
	}
	.banner-m button{
	    padding: 12px 50px 12px 50px;
	    font-size: 13px;
	    font-weight: 600;
	    margin:0 auto;
	    display:block;
	    color: #333;
    	background-color: #fff;
    	border-radius:3px;
    	outline:none;
    	border:0px;
    	margin-bottom:196px;
	}
	.data{
		width:100%;
		background:#32c5d2;
		float:left;
		margin-bottom:50px;
	}
	.data-m{
		width:90%;
		margin:0 auto;
	}
	.data-m-left{
		width:100%;
		float:left;
	}
	.data-m-left h3{
		font-size: 50px;
    	font-weight: 400;
    	color: #fff;
    	text-align:center;
    	margin-top:15px;
	}
	.data-m-left a{
		font-size: 50px;
    	font-weight: 400;
    	color: #fff;
    	display:block;
    	text-align:center;
    	margin-top:15px;
    	font-size: 1.4em;
    	line-height: 27px;
    	margin: 0px 0px 14px;
	}
	.find{
		width:100%;
		float:left;
		margin-bottom:30px;

	}
	.find-m{
		width:90%;
		margin:10px auto;
	}
	.find_left{
		width:100%;
		float:left;
		overflow:hidden;
	}
	.find_left img{
		width:100%;
		height:100%;
	}
	.find_right{
		width:100%;
		float:right;

	}
	.find_right h2{
		font-family: "Lato", sans-serif;
    	font-weight: 400;
    	font-size: 35px;
    	color: #060606;
    	line-height: 42px;
    	margin-bottom:50px;
	}
	.find-border-top{
		width:70px;
		height:1px;
		border-top:1px solid #bbbbbb;
		margin-bottom:13px;
	}
	.find_right p{
		font-style: normal;
    	font-size: 16px;
    	line-height: 29px;
    	font-weight: 500;
    	color: #555555;
    	margin-bottom:26px;
	}
	.find_right button{
		border:0;
		border-radius:3px;
    	color: #fff;
    	background-color: #32c5d2;
    	padding: 12px 50px 12px 50px;
    	font-size: 13px;
    	font-weight: 600;
	}
	.find-cha{
		width:100%;
		float:left;
		background:#f5f5f5;
		padding-top:50px;
		padding-bottom:50px;
	}
	.find_cha_right{
		width:100%;
		float:left;
		overflow:hidden;
	}
	.find_cha_right img{
		width:100%;
		height:100%;
	}
	.find_cha_left{
		width:100%;
		float:right;
	}
	.find_cha_left h2{
		font-family: "Lato", sans-serif;
    	font-weight: 400;
    	font-size: 35px;
    	color: #060606;
    	line-height: 42px;
    	margin-bottom:50px;
	}
	.find_cha_left p{
		font-style: normal;
    	font-size: 16px;
    	line-height: 29px;
    	font-weight: 500;
    	color: #555555;
    	margin-bottom:26px;
	}
	.find_cha_left button{
		border:0;
		border-radius:3px;
    	color: #fff;
    	background-color: #32c5d2;
    	padding: 12px 50px 12px 50px;
    	font-size: 13px;
    	font-weight: 600;
	}
	.find-border-top{
		width:70px;
		height:1px;
		border-top:1px solid #bbbbbb;
		margin-bottom:13px;
	}
	.footer{
		width:100%;
		float:left;
	}
	.footer_m{
		width:90%;
		margin:0 auto;
	}
	.footer_m h4{
		font-weight: 700;
		font-family: "Lato", sans-serif;
		letter-spacing: 1px;
	    color: #333;
	    font-size: 25px;
	    text-align:center;
	    line-height:80px;
	}
	.border-top1{
		border-top:1px solid #bbbbbb;
		height:1px;
		margin:0 auto;
		width:80px;
		margin-bottom:25px;
	}
	.footer_m img{
		width:50%;
		display:block;
		margin: 30px auto;
	}
	.footer_buttom{
		width:100%;	
		background:#f5f5f5;
		float:left;
	}
	.footer_buttom_m{
		width:90%;
		margin:0 auto;
	}
	.footer_buttom_m_left{
		width:100%;
		float:left;
	}
	.footer_buttom_m_left h6{
		color: #333;
		font-size: 20px;
    	font-weight: 700;
		margin-top:39px;
		margin-bottom:15px;
	}
	.footer_buttom_m_left p{
		font-size: 16px;
    	font-weight: 400;
    	color: #999;
    	margin-bottom:30px;
	}
	.footer_buttom_m_right{
		width:100%;
		float:right;
	}
	.footer_buttom_m_right button{
		margin-top: 15px;
		border: 1px solid #32c5d2;
    	color: #32c5d2;
    	padding: 12px 50px 12px 50px;
    	font-size: 13px;
    	font-weight: 600;
    	border-radius: 2px;
    	background:#f5f5f5;
    	margin-bottom:40px;
    	text-transform: uppercase;
	}
	.xia{
		width:100%;
		background:#000;
		float:left;
	}
	.xia p{
		font-size:13px;
		text-align:center;
		color:#fff;
	}
	.help{
		position: fixed;
		bottom:0;
		right:2%;
		width:100%;
		height:45px;
		border:0px;
		background:#65758e;
		color:#fff;
		font-size:15px;
	}
}
